 @import url('utilities.css');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 :root{
     --primay: #3DCFD3;
     --dark: #161616;
     --pure: #FFFFFF;
     --ternary: #898989;
     --light: #F2F2F2;
     --secondary: #070606;
 }
 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 header{
     background-color: var(--dark);
     clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 89%, 0 100%);
     
 }
 .container{
     max-width: 1152px;
     padding: 0 15;
     margin: 0 auto;
 }
 nav .pages a{
     color: var(--pure);
     text-decoration: none;
     margin-right: 2.5rem;
     text-transform: uppercase;
     transition: all .3s ease;
 }
 nav .pages a:hover{
     color: var(--primay);
 }
 header nav{
     padding: 2rem 0;
 }
 header nav .branding{
     margin-right: 2rem;
 }
 .hero .left_hero img{
     width: 400px;
 }
 .hero .right_hero h6{
     color: var(--primay);
     font-size: 1.6rem;
     margin-bottom: 1.5rem;

 }
 .hero .right_hero h1{
     font-size: 4rem;
     color: var(--pure);
     font-weight: 100;
     line-height: 1.2;
     margin-bottom: 2rem;
 }
 .hero .right_hero span{
     color: var(--primay);
 }
 .hero .right_hero p{
     color: var(--pure);
     line-height: 1.9rem;
     margin-bottom: 2rem;
 }
 .hero{
     padding: 3rem 0;
 }
 .right_hero{
     margin-top: -7rem;
 }
 section{
     padding: 6rem 0;
 }
 .about .about-img{
     width: 400px;
 }
 .about .about-right h1{
     margin-bottom: 1rem;
     font-size: 1.6rem;
     font-weight: 400;
 }
 .about .about-right h1 span{
     color: var(--primay);
 }
 .about .about-right h3{
     margin-bottom: 1rem;
     font-size: 1rem;
     font-weight: 400;
 }
 .about .about-right p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
 }
 .about .about-right .social{
     display: flex;
 }
 .about .about-right .social a{
     background: var(--dark);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 37px;
     height: 37px;
     border-radius: 50%;
     margin-right: 0.6rem;
     transition: all .3s ease;
 }
 .about .about-right .social a img{
     width: 100%;
     height: 100%;
     padding: 0.5rem;
 }
 .about .about-right .social a:hover{
     background: var(--primay);
 }
.section-heading{
    text-align: center;
    color: var(--secondary);
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    color: var(--ternary);
    text-align: center;
    margin-bottom: 8rem;
}
.section-heading span{
    color: var(--primay);
    font-family: 'Lato';
    margin-bottom: 1rem;
}
section.services .card-wraper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
    
}
section.services{
    background: var(--light);
}
section.services .card-wraper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-wraper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    
}
section.services .card-wraper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wraper .card p{
    font-family: 'Lato';
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wraper .card:hover{
    background-color: var(--dark);
}
section.services .card-wraper .card:hover h2{
    color: var(--pure);
}
section.services .card-wraper .card:hover p{
    color: var(--pure);
}
section.cal-to-action{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(../Images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 66% 80%, 0 100%);
    padding: 14rem;
}
section.cal-to-action h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.cal-to-action p{
    margin-bottom: 2rem;
    font-family: 'Lato';
}
